
@font-face {
  font-family: "sejong";
  src: url("./assets/fonts/SejongGeulggot.ttf") format("truetype");
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "sejong", sans-serif;
}
