@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@font-face {
    font-family: "marong";
    src: url("./assets/fonts/SejongGeulggot.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: marong, sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}